<footer class="footer py-5 bg-dark text-white align-items-center">
  <div class="container justify-content-between">
    <div class="row  ">
      <div class="col-md-4 ">
        <h4>Contact Us</h4>
        <ul class="list-unstyled">
          <li>Phone: +1 (555) 123-4567</li>
          <li>Email: info&#64;example.com</li>
          <li>Address: 123 Main St, City, Country</li>
        </ul>
      </div>
      <div class="col-md-4 d-flex flex-column ">
        <h4>Follow Us</h4>
        <div class="social-icons  gap-2">
          <a href="#" target="_blank" class="text-white"><i class="bi bi-facebook"></i></a>
          <a href="#" target="_blank" class="text-white"><i class="bi bi-twitter"></i></a>
          <a href="#" target="_blank" class="text-white"><i class="bi bi-instagram"></i></a>
          <a href="#" target="_blank" class="text-white"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <h4>Quick Links</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">Products</a></li>
          <li><a href="#" class="text-white">Categories</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mb-6"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
