<!-- checkout.component.html -->

<!--<section id="checkout" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Checkout</h2>
    </div>
    <div class="row">
      <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch text-start">-->
        <!-- Display selected items from the cart -->
        <!--<div class="col-md-8">
          <h2>Your Selected Items</h2>
          <ng-container *ngIf="cartItems.length > 0; else emptyCart">
            <div class="container px-4 px-lg-5 mt-10">
              <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
                <div class="col mb-5" *ngFor="let product of cartItems">
                  <div class="card h-100">-->
                    <!-- Display product details (similar to the cart page) -->
                    <!--<div class="card-body p-4">
                      <div class="text-center">
                        <h5 class="fw-bolder">{{ product.name }}</h5>-->
                        <!-- Other product details -->
                      <!--</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>-->
          <!-- Empty cart template -->
          <!--<ng-template #emptyCart>
            <div class="container py-5">
              <p>Your Cart is Empty</p>
            </div>
          </ng-template>
        </div>-->

        <!-- Shipping Information Form -->
        <!--<div class="col-md-4">
          <form (ngSubmit)="submitOrder()" #checkoutForm="ngForm" class="php-email-form">-->
            <!-- Shipping information fields (e.g., name, address, etc.) -->
            <!--<div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" required [(ngModel)]="shippingInfoForm.name" />
            </div>-->
            <!-- Add more shipping information fields as needed -->

            <!--<div class="form-group text-center mt-3">
              <button type="submit" class="btn btn-dark m-2">Place Order</button>
              <button type="button" class="btn btn-danger m-2" (click)="cancelCheckout()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>-->
